<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" required #username="ngModel"  />
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password"  required #password="ngModel" />
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
        Password is required.
      </div>
    </div>
    <button type="submit">Register</button>
  </form>
  <div *ngIf="registrationError" class="error">{{ registrationError }}</div>
  <div *ngIf="registrationSuccess" class="success">{{ registrationSuccess }}</div>
</div>
